asgiref==3.7.2
boto3==1.26.146
botocore==1.29.146
Django==4.2.1
django-storages==1.13.2
django-taggit==4.0.0
gunicorn==20.1.0
jmespath==1.0.1
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.0
s3transfer==0.6.1
six==1.16.0
sqlparse==0.4.4
tzdata==2023.3
urllib3==1.26.16
whitenoise==6.4.0
