arabic-reshaper
asgiref
asn1crypto
boto3
botocore
certifi
cffi
charset-normalizer
click
colorama
cryptography
cssbeautifier
cssselect2
Django
django-ckeditor
django-jazzmin
django-js-asset
django-storages
djlint
EditorConfig
gunicorn
html-tag-names
html-void-elements
html5lib
idna
jmespath
jsbeautifier
json5
lxml
oscrypto
packaging
pathspec
Pillow
psycopg2-binary
pycparser
pyHanko
pyhanko-certvalidator
pypdf
pypng
python-bidi
python-dateutil
python-decouple
python-dotenv
PyYAML
qrcode
regex
reportlab
requests
s3transfer
shortuuid
six
sqlparse
svglib
tinycss2
tqdm
typing_extensions
tzlocal
uritools
urllib3
webencodings
xhtml2pdf
