arabic-reshaper==3.0.0
asgiref==3.7.2
asn1crypto==1.5.1
boto3==1.26.146
botocore==1.29.146
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
cryptography==41.0.1
cssselect2==0.7.0
Django==4.2.1
django-4-jet==1.0.9
django-jet==1.0.8
django-jet-4==0.0.1
django-shortuuidfield==0.1.3
django-storages==1.13.2
django-taggit==4.0.0
feedparser==6.0.10
google-api-python-client==1.4.1
gunicorn==20.1.0
html5lib==1.1
httplib2==0.22.0
idna==3.4
jmespath==1.0.1
lxml==4.9.2
oauth2client==4.1.3
oscrypto==1.3.0
Pillow==9.5.0
psycopg2==2.9.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pyHanko==0.18.1
pyhanko-certvalidator==0.22.0
pyparsing==3.0.9
pypdf==3.9.1
pypng==0.20220715.0
python-bidi==0.4.2
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.0
PyYAML==6.0
qrcode==7.4.2
reportlab==3.6.13
requests==2.31.0
rsa==4.9
s3transfer==0.6.1
sgmllib3k==1.0.0
shortuuid==1.0.11
six==1.16.0
sqlparse==0.4.4
svglib==1.5.1
tinycss2==1.2.1
typing_extensions==4.6.3
tzdata==2023.3
tzlocal==5.0.1
uritemplate==4.1.1
uritools==4.0.1
urllib3==1.26.16
webencodings==0.5.1
whitenoise==6.4.0
xhtml2pdf==0.2.11
