{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="hero-wrap hero-bread" style="background-image: url(https://o-rayog.s3.eu-north-1.amazonaws.com/pexels-merlin-lightpainting-10874585.jpg);">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home</a></span> <span>Cart</span></p>
            <h1 class="mb-0 bread">My Cart</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-cart">
			<div class="container">
				<h4 class="text-body">There are <span class="text-brand"><b>{{ totalcartitems }}</b></span> products in your cart</h4>
				<br>
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						        <th>Product name</th>
						        <th>Price</th>
						        <th>Quantity</th>
						        <th>Total</th>
						        <th>&nbsp;</th>
						      </tr>
						    </thead>
						    <tbody>
                                {% for product_id, item in cart_data.items %}
						      <tr class="text-center">
								<td class="product-remove"><a class="remove-btn delete-product" data-product="{{ product_id }}"><span class="ion-ios-close"></span></a></td>

						        <td class="image-prod"><div class="img" style="background-image:url({{ item.image }});"></div></td>

						        <td class="product-name">
						        	<h3 class="prod-title"><a href="">{{ item.title }}</a></h3>
						        </td>

                                <td class="price sub-total">₦{{ item.price|floatformat:2}}</td>

						        <td class="qty">
						        	<div class="input-group mb-3 item-quantity form-outline">
										<div class="input-group-prepend">
											<button class="btn btn-outline-secondary quantity-change-btn" type="button" data-action="minus">
												<i class="fa fa-minus"></i>
											</button>
										</div>
					             		<input name="quantity" class="quantity input-number form-control product-qty-{{ product_id }}" id="typeNumber" type="number" max="100" value="{{ item.qty }}">
										 <div class="input-group-append">
											<button class="btn btn-outline-secondary quantity-change-btn" type="button" data-action="plus">
												<i class="fa fa-plus"></i>
											</button>
										</div>
					          		</div>
					          	</td>

                              	<td class="total total-price">₦{% widthratio item.price 1 item.qty %}</td>

								<td>
									<span class="cart-btn update-product" data-product="{{ product_id }}"><i class="fa fa-refresh" aria-hidden="true"></i></span>
								</td>
						      </tr><!-- END TR-->
                              {% endfor %}

				
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>

			{% if messages %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

    		<div class="row justify-content-end">
    			<div class="col-lg-6 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Coupon Code</h3>
    					<p>Enter the welcome coupon code WELCOME_TO_SONIPS_MART to get welcome discount</p>
  						<form action="{% url 'cart' %}" method="POST" class="info">
							{% csrf_token %}
	              <div class="form-group">
	              	<label for="coupon_code">Coupon code</label>
	                <input type="text" name="coupon_code" id="coupon_code" class="form-control text-left px-3" placeholder="">
	              </div>
				  <button type="submit" class="btn btn-primary py-3 px-4">Apply Coupon</button>
	            </form>
    				</div>
    			</div>

    			<div class="col-lg-6 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Cart Totals</h3>
    					<p class="d-flex">
    						<span>Subtotal</span>
    						<span>₦{{ cart_total_amount|floatformat:2 }}</span>
    					</p>
    					<p class="d-flex">
    						<span>Delivery</span>
    						<span>₦{{ delivery_fee|floatformat:2 }}</span>
    					</p>
    					<p class="d-flex">
    						<span>Discount</span>
    						<span>₦{{ coupon_discount|floatformat:2 }}</span>
    					</p>
    					<hr>
    					<p class="d-flex total-price">
    						<span>Total</span>
    						<span>₦{{ total_amount|floatformat:2 }}</span>
    					</p>
    				</div>
					{% if totalcartitems %}
    				<p><a href="{% url 'checkout' %}" type="submit" class="btn btn-primary py-3 px-4 proceed-btn">Proceed to Checkout</a></p>
					{% endif %}
    			</div>
    		</div>
			</div>
		</section>

		<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
          	<span>Get e-mail updates about our latest shops and special offers</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
	<script>
		var minusButton = document.querySelector('.quantity-change-btn[data-action="minus"]');
		var plusButton = document.querySelector('.quantity-change-btn[data-action="plus"]');
		var quantityInput = document.querySelector('.product-qty-{{ product_id }}');
	  
		minusButton.addEventListener('click', function (e) {
		  e.preventDefault();
		  var quantity = parseInt(quantityInput.value);
		  if (quantity > 1) {
			quantityInput.value = quantity - 1;
		  }
		});
	  
		plusButton.addEventListener('click', function (e) {
		  e.preventDefault();
		  var quantity = parseInt(quantityInput.value);
		  quantityInput.value = quantity + 1;
		});
	  </script>
	  
    {% comment %} <script>
  		$(document).ready(function(){

  		var quantitiy=0;
  		   $('.quantity-right-plus').click(function(e){

  		        // Stop acting like a button
  		        e.preventDefault();
  		        // Get the field name
  		        var quantity = parseInt($('#quantity').val());

  		        // If is not undefined

  		            $('#quantity').val(quantity + 1);


  		            // Increment

  		    });

  		     $('.quantity-left-minus').click(function(e){
  		        // Stop acting like a button
  		        e.preventDefault();
  		        // Get the field name
  		        var quantity = parseInt($('#quantity').val());

  		        // If is not undefined

  		            // Increment
  		            if(quantity>0){
  		            $('#quantity').val(quantity - 1);
  		            }
  		    });

  		});
  	</script> {% endcomment %}
{% endblock %}