{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_4.jpg' %});">
        <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home</a></span> <span>Products</span></p>
            <h1 class="mb-0 bread">Products</h1>
            </div>
        </div>
        </div>
    </div>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 mb-5 text-center">
                    <form action="{% url 'search' %}" method="GET" class="search-form">
                        <div class="form-group d-flex">
                            <input type="text" name="q" class="form-control" placeholder="Search">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10 mb-5 text-center">
                    <ul class="product-category">
                        <li><a href="{% url 'product_list' %}" {% if not active_category %}class="active"{% endif %}>All</a></li>
                        {% for category in categories %}
                        <li><a href="{% url 'product_list' %}?category={{ category.id }}"
                               {% if active_category and active_category.id == category.id %}class="active"{% endif %}>
                            {{ category.title }}
                        </a></li>
                        {% endfor %}
                    </ul>
                </div>                
            </div>
            <div class="row">
                {% if products %}
                    {% for p in products %}
                        <div class="col-md-6 col-lg-3 ftco-animate">
                            <div class="product">
                                {% if p.get_percentage %}
                                    <div class="discount-tag">{{ p.get_percentage }}% Off</div>
                                {% endif %}
                                {% if not p.in_stock %}
                                    <div class="out-of-stock">Out of Stock</div>
                                {% endif %}
                                <a href="{% url 'product-detail' p.pid %}" class="img-prod">
                                    <img class="img-fluid" src="{{ p.image.url }}" alt="Colorlib Template">
                                    <div class="overlay"></div>
                                </a>
                                <div class="text py-3 pb-4 px-3 text-center">
                                    <h3><a href="{% url 'product-detail' p.pid %}">{{ p.title }}</a></h3>
                                    <div class="d-flex">
                                        <div class="pricing">
                                            <p class="price">
                                                <span>₦</span><span class="price-sale current-product-price-{{ p.id }}">{{ p.price }}</span>
                                            </p>
                                            <p class="price">
                                                <span>₦</span><span class="price-old">{{ p.old_price }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="bottom-area d-flex px-3">
                                        <div class="m-auto d-flex">
                                            <input type="hidden" value="1" class="product-quantity-{{ p.id }}" name="" id="product-quantity">
                                            <input type="hidden" value="{{ p.pid }}" class="product-pid-{{ p.id }}" >
                                            <input type="hidden" class="product-image-{{ p.id }}" value="{{ p.image.url }}">
                                            <input type="hidden" class="product-id-{{ p.id }}" value="{{ p.id }}">
                                            <input type="hidden" class="product-title-{{ p.id }}" value="{{ p.title }}">

                                            <a class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                                <span class="cart-btn add add-to-cart-btn" data-index="{{ p.id }}" id="add-to-cart-btn"><i class="ion-ios-cart"></i></span>
                                              </a>
                                              <a href="{% url 'add_to_wishlist' p.id %}" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                <span><i class="ion-ios-heart"></i></span>
                                              </a>
                                              <a href="{% url 'product-detail' p.pid %}" class="heart d-flex justify-content-center align-items-center ">
                                                <span><i class="ion-ios-eye"></i></span>
                                              </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col">
                        <h2 class="text-center">Sorry! There are no Products Available!</h2>
                    </div>
                {% endif %}
            </div>
            <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                            <li><a href="#">&lt;</a></li>
                            <li class="active"><span>1</span></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&gt;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
        <div class="container py-4">
            <div class="row d-flex justify-content-center py-5">
                <div class="col-md-6">
                    <h2 style="font-size: 22px;" class="mb-0">Subscribe to our Newsletter</h2>
                    <span>Get e-mail updates about our latest shops and special offers</span>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <form action="#" class="subscribe-form">
                        <div class="form-group d-flex">
                            <input type="text" class="form-control" placeholder="Enter email address">
                            <input type="submit" value="Subscribe" class="submit px-3">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
