{% extends 'base/base.html' %}
{% include 'base/header.html' %}
{% load static %}

{% block content %}

<section class="ftco-section contact-section bg-light">
    <div class="container">
        {% if messages %}
        <div class="container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="row block-9">
            <div class="col-md-6 order-md-last d-flex">
                <form class="bg-white p-5 contact-form" action="{% url 'login' %}" method="POST">
                    {% csrf_token %}

                    <div class="form-group">
                        <input required type="text" class="form-control rounded-input" placeholder="Username or Email" name="email">
                    </div>
                    <div class="form-group">
                        <input required type="password" class="form-control rounded-input" placeholder="Password" name="password">
                    </div>
                    <div class="form-group">
                        Forgot password? Reset <a href="">here</a>.<br>
                        Don't have any account? Create one <a href="{% url 'signup' %}">here</a>.
                        <input type="submit" value="Sign In" class="btn btn-primary py-3 px-5">
                    </div>

                </form>
            </div>
            <div class="col-md-6 d-flex">
                <div id="map" class="bg-white"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}